body{
	background-color: #FAF4F2;
	position: relative;
}
#bg-img{
	background-image: url(../images/BG.jpg);	
	/*max-width: 1920px;*/
	width: 100%;
	height: 1080px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10% 0% 26% 22% / 0% 10% 26% 22% ;
	position: absolute;
	top:-33px;
	z-index: -100;
}
/* header */
#header-container{
	max-width: 1520px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 60px;
	margin: 0 auto;
}
#header-left-block{
	max-width: 600px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#header-logo-wrapper{
	background-color: #E76F51;
	max-width: 50px;
	width: 100%;
	height: 50px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#navigation{
	max-width: 470px;
	width: 100%;
}
#navigation ul{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	text-transform: capitalize;
	font-family: 'Varela Round';
	color: white;
}
#header-right-block{
	max-width: 240px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#header-right-block div a{
	font-size: 18px;
	font-family: 'Varela Round';
	text-transform: capitalize;
	color: white;
}
.header-signIn{
	max-width: 130px;
	width: 100%;
	height: 50px;
	border: 2px solid white;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* section one */
#section-one-wrapper{
	max-width: 580px;
	width: 100%;
	height: 385px;
	color: white;
	margin: 0 auto;
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
#section-one-wrapper h1{
	max-width: 580px;
	width: 100%;
	font-size: 80px;
	font-family: 'Luckiest Guy';;
	text-align: center;
	text-transform: capitalize;
}
#section-one-wrapper p{
	max-width: 500px;
	width: 100%;
	font-size: 22px;
	font-family: 'Caveat';
	text-align: center;
}
.span-capitalaize{
	text-transform: capitalize;
}
.span-uppercase{
	text-transform: uppercase;
}
#section-one-discover{
	max-width: 205px;
	width: 100%;
	height: 50px;
	background-color: #E76F51;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
bg-image2}
/* section two */
.section-two {
	margin-top:300px;
}
#service-wrapper{
	max-width: 1518px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}
.box-wrapper{
	max-width: 357px;
	width: 100%;
	background-color: white;
	border-radius: 20px;
	padding: 60px 40px;
}
.box{
	max-width: 277px;
	width: 100%;
	height: 192px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.box p{
	font-family: 'Caveat';
	font-size: 18px;
}
.box p:first-letter{
	text-transform: capitalize;
}
.box h3{
	font-family: 'Luckiest Guy';
	font-size: 20px;
	text-transform: capitalize;
}
/* section three */
#bg-image2{
	background-image: url(../images/shapes.svg);
	background-repeat: no-repeat;
	background-size: cover;
	/*max-width: 2748px;*/
	width: 100%;
	height: 1885px;
	position: absolute;
}
.section-three {
	margin-top:150px;
}
#destination-container{
	max-width: 1518px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.destination-container-header{
	max-width: 450px;
	width: 100%;
	height: 240px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.destination-container-header h2{
	font-family: 'Luckiest Guy';
	font-size: 40px;
	text-transform: capitalize;
	text-align: center;
}
#destination-img-wrapper{
	position: relative;
	max-width: 90px;
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#destination-bg{
	background-color: #E76F51;
	max-width: 70px;
	width: 100%;
	height: 70px;
	z-index: -1;
	position: absolute;
	border-radius: 50%;
}
#destination-box-container{
	max-width: 1518px;
	width: 100%;
	height: 1455px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 55px;
}
.destination-box-wrapper{
	max-width: 357px;
	width: 100%;
	height: 465px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 20px;
	position: relative;
	padding: 40px;
}
div.destination-box-wrapper div:first-child{
	background-color: white;
	max-width: 40px;
	width: 100%;
	height: 40px;
	border-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 60px;
	top: 60px;
}
div.destination-box-wrapper div:nth-child(3){
	background-color: white;
	color: #E76F51;
    font-family: 'Varela Round';
	font-size: 16px;
	max-width: 145px;
	width: 100%;
	height: 50px;
	border-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 193px;
	right: 106px;
}
div.destination-box-wrapper h4{
	font-family: 'Luckiest Guy';
	font-size: 18px;
	letter-spacing: .5px;
	margin-top: 20px;
	text-transform: capitalize;
}
div.destination-box-wrapper p{
	font-family: 'Varela Round';
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	max-width: 270px;
	width: 100%;
	letter-spacing: .5px;
}
div.destination-box-wrapper div:last-child{
	background-color: #E76F51;
	color: white;
	border-radius: 25px;
	max-width: 185px;
	width: 100%;
	text-align: center;
	font-family: 'Caveat';
	font-size: 18px;
	padding: 13px 0px;
	text-transform: capitalize;
}
#view-all{
	border: 2px solid #E76F51;
	color: #E76F51;
	border-radius: 25px;
	max-width: 185px;
	width: 100%;
	text-align: center;
	font-family: 'Caveat';
	font-size: 18px;
	padding: 13px 0px;
	text-transform: capitalize;
	margin-top: 60px;
}
/* section four */
.section-four{
	margin-top: 150px;
}
#contact-us-wrapper{
	maxx-width: 1518px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}